.table-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-header-cell, .mat-cell {
    text-align: left;
    padding: 8px 16px;
  }
  